.flaticon-fix:before {
  margin-left: -1px;
  font-size: 16px;
  margin-right: -1px;
  line-height: 1;
}

tr.queuememberstatus {
  &.paused {
    color: #a94442;
  }
}

.statusbar {
  position:fixed;
  z-index: 100;
  left:0px;
  bottom:0px;
  //height:30px;
  width:100%;
  //background:#999;
  .statustext {

  }
}

/* IE 6 */
* html .statusbar {
  position:absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}


$cell-back-blue: hsla(209deg, 67%, 69%, 0.5);
$cell-hdr-back-blue: darken($cell-back-blue, 30%);
$cell-brd-blue: darken($cell-back-blue, 30%);

$cell-back-green: hsla(152deg, 67%, 69%, 0.5);
$cell-hdr-back-green: darken($cell-back-green, 30%);
$cell-brd-green: darken($cell-back-green, 30%);

$cell-back-yellow: hsla(64deg, 67%, 69%, 0.5);
$cell-hdr-back-yellow: darken($cell-back-yellow, 30%);
$cell-brd-yellow: darken($cell-back-yellow, 30%);

$cell-back-red: hsla(0deg, 67%, 69%, 0.5);
$cell-hdr-back-red: darken($cell-back-red, 30%);
$cell-brd-red: darken($cell-back-red, 30%);

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

.wallboard.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  @media (max-width: $screen-xs-max)  {
    padding: 6px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: 12px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    padding: 18px;
  }
  @media (min-width: $screen-lg-min) {
    padding: 24px;
  }

  .cell {
    height: 100%;
    @media (max-width: $screen-xs-max) {
      padding: 2px 8px;
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding: 4px 16px;
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding: 8px 24px;
    }
    @media (min-width: $screen-lg-min) {
      padding: 10px 32px;
    }
  }

  .col {
    //position: relative;
    display: inline-block;
    //@media (max-width: $screen-xs-max) {
    //  //display: block;
    //}
    //@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    //  //display: block;
    //}
    //@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    //  display: inline-block;
    //}
    //@media (min-width: $screen-lg-min) {
    //  display: inline-block;
    //}
    #subcell {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      width: 100%;
      text-align: center;
      border-radius: 3px;
      margin: 3px;
      //font-size: 42px;
      border: 1px solid $cell-brd-blue;
      &.green, &.success {
        border: 1px solid $cell-brd-green;
      }
      &.yellow, &.warning {
        border: 1px solid $cell-brd-yellow;
      }
      &.red, &.danger {
        border: 1px solid $cell-brd-red;
      }
    }
    .header {
      @extend #subcell;
      //height: 33%;
      //font-size: 32px;
      @media (min-width: $screen-lg-min) {
        font-size: 32px;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        font-size: 24px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 16px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 8px;
      }
      background-color: $cell-hdr-back-blue;
      &.green, &.success {
        background-color: $cell-hdr-back-green;
      }
      &.yellow, &.warning {
        background-color: $cell-hdr-back-yellow;
      }
      &.red, &.danger {
        background-color: $cell-hdr-back-red;
      }
    }
    .data {
      @extend #subcell;
      //height: 66%;
      //font-size: 56px;
      @media (max-width: $screen-xs-max) {
        font-size: 24px;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 32px;
      }
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        font-size: 44px;
      }
      @media (min-width: $screen-lg-min) {
        font-size: 56px;
      }
      background-color: $cell-back-blue;
      &.green, &.success {
        background-color: $cell-back-green;
      }
      &.yellow, &.warning {
        background-color: $cell-back-yellow;
      }
      &.red, &.danger {
        background-color: $cell-back-red;
      }
    }

    .full {
      @extend #subcell;
      height: 100%;
      background-color: $cell-hdr-back-blue;

      white-space: normal;
      overflow: visible;
      text-overflow: ellipsis;
    }
    .main-header {
      font-size: 56px;
    }
  }

  .col1 {
    @extend .col;
    width: 99%;
  }

  .col2 {
    @extend .col;
    width: 50%;
    &:last-child {
      width: 49%;
    }
  }

  .col3 {
    @extend .col;
    width: 33%;
  }

  .col4 {
    @extend .col;
    width: 25%;
    &:last-child {
      width: 24%;
    }
  }

  @media (max-width: 320px) {
    [class*="col"] {
      width: 100%;
    }
  }


  //position: relative;
  //@media (max-width: $screen-xs-max) {
  //  display: block;
  //  .col {
  //    width: 100%;
  //  }
  //}
  //@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  //  display: block;
  //  .col {
  //    width: 100%;
  //  }
  //}
  //@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  //  display: inline-block;
  //}
  //@media (min-width: $screen-lg-min) {
  //  display: inline-block;
  //}



  //.row {
  //}

  /*
  .row1 {
    //@extend .row;
    height: 100%;
  }

  .row2 {
    //@extend .row;
    height: 50%;
  }

  .row3 {
    //@extend .row;
    height: 33%;
  }

  .row4 {
    //@extend .row;
    height: 25%;
  }

  .row5 {
    //@extend .row;
    height: 20%;
  }

  .row6 {
    //@extend .row;
    height: 16%;
  }
  */
}




.blue, .info {
  background-color: $cell-hdr-back-blue;
}
.green, .success {
  background-color: $cell-hdr-back-green;
}
.yellow, .warning {
  background-color: $cell-hdr-back-yellow;
}
.red, .danger {
  background-color: $cell-hdr-back-red;
}

.wbQueueList {
  .row div {
    //margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 28px;
    //border: 1px solid #d9d9d9;
    //border-bottom: none;
    vertical-align: middle;
  }

  table {
    th, td {
      //margin: 5px;
      padding: 5px;
      text-align: center;
      font-size: 28px;
      //border: 5px solid white;
      //border-bottom: none;
      vertical-align: middle;
    }
    tbody tr {
      cursor: pointer;
    }
  }
}
