.flaticon-fix:before {
  margin-left: -1px;
  font-size: 16px;
  margin-right: -1px;
  line-height: 1; }

tr.queuememberstatus.paused {
  color: #a94442; }

.statusbar {
  position: fixed;
  z-index: 100;
  left: 0px;
  bottom: 0px;
  width: 100%; }

/* IE 6 */
* html .statusbar {
  position: absolute;
  top: expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px'); }

.wallboard.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /*
  .row1 {
    //@extend .row;
    height: 100%;
  }

  .row2 {
    //@extend .row;
    height: 50%;
  }

  .row3 {
    //@extend .row;
    height: 33%;
  }

  .row4 {
    //@extend .row;
    height: 25%;
  }

  .row5 {
    //@extend .row;
    height: 20%;
  }

  .row6 {
    //@extend .row;
    height: 16%;
  }
  */ }
  @media (max-width: 767px) {
    .wallboard.panel {
      padding: 6px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .wallboard.panel {
      padding: 12px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .wallboard.panel {
      padding: 18px; } }
  @media (min-width: 1200px) {
    .wallboard.panel {
      padding: 24px; } }
  .wallboard.panel .cell {
    height: 100%; }
    @media (max-width: 767px) {
      .wallboard.panel .cell {
        padding: 2px 8px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .wallboard.panel .cell {
        padding: 4px 16px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .wallboard.panel .cell {
        padding: 8px 24px; } }
    @media (min-width: 1200px) {
      .wallboard.panel .cell {
        padding: 10px 32px; } }
  .wallboard.panel .col, .wallboard.panel .col1, .wallboard.panel .col2, .wallboard.panel .col3, .wallboard.panel .col4 {
    display: inline-block; }
    .wallboard.panel .col #subcell, .wallboard.panel .col1 #subcell, .wallboard.panel .col2 #subcell, .wallboard.panel .col3 #subcell, .wallboard.panel .col4 #subcell, .wallboard.panel .col .header, .wallboard.panel .col .col1 .header, .wallboard.panel .col1 .col .header, .wallboard.panel .col1 .header, .wallboard.panel .col .col2 .header, .wallboard.panel .col2 .col .header, .wallboard.panel .col2 .header, .wallboard.panel .col .col3 .header, .wallboard.panel .col3 .col .header, .wallboard.panel .col3 .header, .wallboard.panel .col .col4 .header, .wallboard.panel .col4 .col .header, .wallboard.panel .col4 .header, .wallboard.panel .col .data, .wallboard.panel .col .col1 .data, .wallboard.panel .col1 .col .data, .wallboard.panel .col1 .data, .wallboard.panel .col .col2 .data, .wallboard.panel .col2 .col .data, .wallboard.panel .col2 .data, .wallboard.panel .col .col3 .data, .wallboard.panel .col3 .col .data, .wallboard.panel .col3 .data, .wallboard.panel .col .col4 .data, .wallboard.panel .col4 .col .data, .wallboard.panel .col4 .data, .wallboard.panel .col .full, .wallboard.panel .col .col1 .full, .wallboard.panel .col1 .col .full, .wallboard.panel .col1 .full, .wallboard.panel .col .col2 .full, .wallboard.panel .col2 .col .full, .wallboard.panel .col2 .full, .wallboard.panel .col .col3 .full, .wallboard.panel .col3 .col .full, .wallboard.panel .col3 .full, .wallboard.panel .col .col4 .full, .wallboard.panel .col4 .col .full, .wallboard.panel .col4 .full {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
      border-radius: 3px;
      margin: 3px;
      border: 1px solid rgba(33, 102, 166, 0.5); }
      .wallboard.panel .col #subcell.green, .wallboard.panel .col1 #subcell.green, .wallboard.panel .col2 #subcell.green, .wallboard.panel .col3 #subcell.green, .wallboard.panel .col4 #subcell.green, .wallboard.panel .col .green.header, .wallboard.panel .col .col1 .green.header, .wallboard.panel .col1 .col .green.header, .wallboard.panel .col1 .green.header, .wallboard.panel .col .col2 .green.header, .wallboard.panel .col2 .col .green.header, .wallboard.panel .col2 .green.header, .wallboard.panel .col .col3 .green.header, .wallboard.panel .col3 .col .green.header, .wallboard.panel .col3 .green.header, .wallboard.panel .col .col4 .green.header, .wallboard.panel .col4 .col .green.header, .wallboard.panel .col4 .green.header, .wallboard.panel .col .green.data, .wallboard.panel .col .col1 .green.data, .wallboard.panel .col1 .col .green.data, .wallboard.panel .col1 .green.data, .wallboard.panel .col .col2 .green.data, .wallboard.panel .col2 .col .green.data, .wallboard.panel .col2 .green.data, .wallboard.panel .col .col3 .green.data, .wallboard.panel .col3 .col .green.data, .wallboard.panel .col3 .green.data, .wallboard.panel .col .col4 .green.data, .wallboard.panel .col4 .col .green.data, .wallboard.panel .col4 .green.data, .wallboard.panel .col .green.full, .wallboard.panel .col .col1 .green.full, .wallboard.panel .col1 .col .green.full, .wallboard.panel .col1 .green.full, .wallboard.panel .col .col2 .green.full, .wallboard.panel .col2 .col .green.full, .wallboard.panel .col2 .green.full, .wallboard.panel .col .col3 .green.full, .wallboard.panel .col3 .col .green.full, .wallboard.panel .col3 .green.full, .wallboard.panel .col .col4 .green.full, .wallboard.panel .col4 .col .green.full, .wallboard.panel .col4 .green.full, .wallboard.panel .col #subcell.success, .wallboard.panel .col1 #subcell.success, .wallboard.panel .col2 #subcell.success, .wallboard.panel .col3 #subcell.success, .wallboard.panel .col4 #subcell.success, .wallboard.panel .col .success.header, .wallboard.panel .col .col1 .success.header, .wallboard.panel .col1 .col .success.header, .wallboard.panel .col1 .success.header, .wallboard.panel .col .col2 .success.header, .wallboard.panel .col2 .col .success.header, .wallboard.panel .col2 .success.header, .wallboard.panel .col .col3 .success.header, .wallboard.panel .col3 .col .success.header, .wallboard.panel .col3 .success.header, .wallboard.panel .col .col4 .success.header, .wallboard.panel .col4 .col .success.header, .wallboard.panel .col4 .success.header, .wallboard.panel .col .success.data, .wallboard.panel .col .col1 .success.data, .wallboard.panel .col1 .col .success.data, .wallboard.panel .col1 .success.data, .wallboard.panel .col .col2 .success.data, .wallboard.panel .col2 .col .success.data, .wallboard.panel .col2 .success.data, .wallboard.panel .col .col3 .success.data, .wallboard.panel .col3 .col .success.data, .wallboard.panel .col3 .success.data, .wallboard.panel .col .col4 .success.data, .wallboard.panel .col4 .col .success.data, .wallboard.panel .col4 .success.data, .wallboard.panel .col .success.full, .wallboard.panel .col .col1 .success.full, .wallboard.panel .col1 .col .success.full, .wallboard.panel .col1 .success.full, .wallboard.panel .col .col2 .success.full, .wallboard.panel .col2 .col .success.full, .wallboard.panel .col2 .success.full, .wallboard.panel .col .col3 .success.full, .wallboard.panel .col3 .col .success.full, .wallboard.panel .col3 .success.full, .wallboard.panel .col .col4 .success.full, .wallboard.panel .col4 .col .success.full, .wallboard.panel .col4 .success.full {
        border: 1px solid rgba(33, 166, 104, 0.5); }
      .wallboard.panel .col #subcell.yellow, .wallboard.panel .col1 #subcell.yellow, .wallboard.panel .col2 #subcell.yellow, .wallboard.panel .col3 #subcell.yellow, .wallboard.panel .col4 #subcell.yellow, .wallboard.panel .col .yellow.header, .wallboard.panel .col .col1 .yellow.header, .wallboard.panel .col1 .col .yellow.header, .wallboard.panel .col1 .yellow.header, .wallboard.panel .col .col2 .yellow.header, .wallboard.panel .col2 .col .yellow.header, .wallboard.panel .col2 .yellow.header, .wallboard.panel .col .col3 .yellow.header, .wallboard.panel .col3 .col .yellow.header, .wallboard.panel .col3 .yellow.header, .wallboard.panel .col .col4 .yellow.header, .wallboard.panel .col4 .col .yellow.header, .wallboard.panel .col4 .yellow.header, .wallboard.panel .col .yellow.data, .wallboard.panel .col .col1 .yellow.data, .wallboard.panel .col1 .col .yellow.data, .wallboard.panel .col1 .yellow.data, .wallboard.panel .col .col2 .yellow.data, .wallboard.panel .col2 .col .yellow.data, .wallboard.panel .col2 .yellow.data, .wallboard.panel .col .col3 .yellow.data, .wallboard.panel .col3 .col .yellow.data, .wallboard.panel .col3 .yellow.data, .wallboard.panel .col .col4 .yellow.data, .wallboard.panel .col4 .col .yellow.data, .wallboard.panel .col4 .yellow.data, .wallboard.panel .col .yellow.full, .wallboard.panel .col .col1 .yellow.full, .wallboard.panel .col1 .col .yellow.full, .wallboard.panel .col1 .yellow.full, .wallboard.panel .col .col2 .yellow.full, .wallboard.panel .col2 .col .yellow.full, .wallboard.panel .col2 .yellow.full, .wallboard.panel .col .col3 .yellow.full, .wallboard.panel .col3 .col .yellow.full, .wallboard.panel .col3 .yellow.full, .wallboard.panel .col .col4 .yellow.full, .wallboard.panel .col4 .col .yellow.full, .wallboard.panel .col4 .yellow.full, .wallboard.panel .col #subcell.warning, .wallboard.panel .col1 #subcell.warning, .wallboard.panel .col2 #subcell.warning, .wallboard.panel .col3 #subcell.warning, .wallboard.panel .col4 #subcell.warning, .wallboard.panel .col .warning.header, .wallboard.panel .col .col1 .warning.header, .wallboard.panel .col1 .col .warning.header, .wallboard.panel .col1 .warning.header, .wallboard.panel .col .col2 .warning.header, .wallboard.panel .col2 .col .warning.header, .wallboard.panel .col2 .warning.header, .wallboard.panel .col .col3 .warning.header, .wallboard.panel .col3 .col .warning.header, .wallboard.panel .col3 .warning.header, .wallboard.panel .col .col4 .warning.header, .wallboard.panel .col4 .col .warning.header, .wallboard.panel .col4 .warning.header, .wallboard.panel .col .warning.data, .wallboard.panel .col .col1 .warning.data, .wallboard.panel .col1 .col .warning.data, .wallboard.panel .col1 .warning.data, .wallboard.panel .col .col2 .warning.data, .wallboard.panel .col2 .col .warning.data, .wallboard.panel .col2 .warning.data, .wallboard.panel .col .col3 .warning.data, .wallboard.panel .col3 .col .warning.data, .wallboard.panel .col3 .warning.data, .wallboard.panel .col .col4 .warning.data, .wallboard.panel .col4 .col .warning.data, .wallboard.panel .col4 .warning.data, .wallboard.panel .col .warning.full, .wallboard.panel .col .col1 .warning.full, .wallboard.panel .col1 .col .warning.full, .wallboard.panel .col1 .warning.full, .wallboard.panel .col .col2 .warning.full, .wallboard.panel .col2 .col .warning.full, .wallboard.panel .col2 .warning.full, .wallboard.panel .col .col3 .warning.full, .wallboard.panel .col3 .col .warning.full, .wallboard.panel .col3 .warning.full, .wallboard.panel .col .col4 .warning.full, .wallboard.panel .col4 .col .warning.full, .wallboard.panel .col4 .warning.full {
        border: 1px solid rgba(157, 166, 33, 0.5); }
      .wallboard.panel .col #subcell.red, .wallboard.panel .col1 #subcell.red, .wallboard.panel .col2 #subcell.red, .wallboard.panel .col3 #subcell.red, .wallboard.panel .col4 #subcell.red, .wallboard.panel .col .red.header, .wallboard.panel .col .col1 .red.header, .wallboard.panel .col1 .col .red.header, .wallboard.panel .col1 .red.header, .wallboard.panel .col .col2 .red.header, .wallboard.panel .col2 .col .red.header, .wallboard.panel .col2 .red.header, .wallboard.panel .col .col3 .red.header, .wallboard.panel .col3 .col .red.header, .wallboard.panel .col3 .red.header, .wallboard.panel .col .col4 .red.header, .wallboard.panel .col4 .col .red.header, .wallboard.panel .col4 .red.header, .wallboard.panel .col .red.data, .wallboard.panel .col .col1 .red.data, .wallboard.panel .col1 .col .red.data, .wallboard.panel .col1 .red.data, .wallboard.panel .col .col2 .red.data, .wallboard.panel .col2 .col .red.data, .wallboard.panel .col2 .red.data, .wallboard.panel .col .col3 .red.data, .wallboard.panel .col3 .col .red.data, .wallboard.panel .col3 .red.data, .wallboard.panel .col .col4 .red.data, .wallboard.panel .col4 .col .red.data, .wallboard.panel .col4 .red.data, .wallboard.panel .col .red.full, .wallboard.panel .col .col1 .red.full, .wallboard.panel .col1 .col .red.full, .wallboard.panel .col1 .red.full, .wallboard.panel .col .col2 .red.full, .wallboard.panel .col2 .col .red.full, .wallboard.panel .col2 .red.full, .wallboard.panel .col .col3 .red.full, .wallboard.panel .col3 .col .red.full, .wallboard.panel .col3 .red.full, .wallboard.panel .col .col4 .red.full, .wallboard.panel .col4 .col .red.full, .wallboard.panel .col4 .red.full, .wallboard.panel .col #subcell.danger, .wallboard.panel .col1 #subcell.danger, .wallboard.panel .col2 #subcell.danger, .wallboard.panel .col3 #subcell.danger, .wallboard.panel .col4 #subcell.danger, .wallboard.panel .col .danger.header, .wallboard.panel .col .col1 .danger.header, .wallboard.panel .col1 .col .danger.header, .wallboard.panel .col1 .danger.header, .wallboard.panel .col .col2 .danger.header, .wallboard.panel .col2 .col .danger.header, .wallboard.panel .col2 .danger.header, .wallboard.panel .col .col3 .danger.header, .wallboard.panel .col3 .col .danger.header, .wallboard.panel .col3 .danger.header, .wallboard.panel .col .col4 .danger.header, .wallboard.panel .col4 .col .danger.header, .wallboard.panel .col4 .danger.header, .wallboard.panel .col .danger.data, .wallboard.panel .col .col1 .danger.data, .wallboard.panel .col1 .col .danger.data, .wallboard.panel .col1 .danger.data, .wallboard.panel .col .col2 .danger.data, .wallboard.panel .col2 .col .danger.data, .wallboard.panel .col2 .danger.data, .wallboard.panel .col .col3 .danger.data, .wallboard.panel .col3 .col .danger.data, .wallboard.panel .col3 .danger.data, .wallboard.panel .col .col4 .danger.data, .wallboard.panel .col4 .col .danger.data, .wallboard.panel .col4 .danger.data, .wallboard.panel .col .danger.full, .wallboard.panel .col .col1 .danger.full, .wallboard.panel .col1 .col .danger.full, .wallboard.panel .col1 .danger.full, .wallboard.panel .col .col2 .danger.full, .wallboard.panel .col2 .col .danger.full, .wallboard.panel .col2 .danger.full, .wallboard.panel .col .col3 .danger.full, .wallboard.panel .col3 .col .danger.full, .wallboard.panel .col3 .danger.full, .wallboard.panel .col .col4 .danger.full, .wallboard.panel .col4 .col .danger.full, .wallboard.panel .col4 .danger.full {
        border: 1px solid rgba(166, 33, 33, 0.5); }
    .wallboard.panel .col .header, .wallboard.panel .col1 .header, .wallboard.panel .col2 .header, .wallboard.panel .col3 .header, .wallboard.panel .col4 .header {
      background-color: rgba(33, 102, 166, 0.5); }
      @media (min-width: 1200px) {
        .wallboard.panel .col .header, .wallboard.panel .col1 .header, .wallboard.panel .col2 .header, .wallboard.panel .col3 .header, .wallboard.panel .col4 .header {
          font-size: 32px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .wallboard.panel .col .header, .wallboard.panel .col1 .header, .wallboard.panel .col2 .header, .wallboard.panel .col3 .header, .wallboard.panel .col4 .header {
          font-size: 24px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .wallboard.panel .col .header, .wallboard.panel .col1 .header, .wallboard.panel .col2 .header, .wallboard.panel .col3 .header, .wallboard.panel .col4 .header {
          font-size: 16px; } }
      @media (max-width: 767px) {
        .wallboard.panel .col .header, .wallboard.panel .col1 .header, .wallboard.panel .col2 .header, .wallboard.panel .col3 .header, .wallboard.panel .col4 .header {
          font-size: 8px; } }
      .wallboard.panel .col .header.green, .wallboard.panel .col1 .header.green, .wallboard.panel .col2 .header.green, .wallboard.panel .col3 .header.green, .wallboard.panel .col4 .header.green, .wallboard.panel .col .header.success, .wallboard.panel .col1 .header.success, .wallboard.panel .col2 .header.success, .wallboard.panel .col3 .header.success, .wallboard.panel .col4 .header.success {
        background-color: rgba(33, 166, 104, 0.5); }
      .wallboard.panel .col .header.yellow, .wallboard.panel .col1 .header.yellow, .wallboard.panel .col2 .header.yellow, .wallboard.panel .col3 .header.yellow, .wallboard.panel .col4 .header.yellow, .wallboard.panel .col .header.warning, .wallboard.panel .col1 .header.warning, .wallboard.panel .col2 .header.warning, .wallboard.panel .col3 .header.warning, .wallboard.panel .col4 .header.warning {
        background-color: rgba(157, 166, 33, 0.5); }
      .wallboard.panel .col .header.red, .wallboard.panel .col1 .header.red, .wallboard.panel .col2 .header.red, .wallboard.panel .col3 .header.red, .wallboard.panel .col4 .header.red, .wallboard.panel .col .header.danger, .wallboard.panel .col1 .header.danger, .wallboard.panel .col2 .header.danger, .wallboard.panel .col3 .header.danger, .wallboard.panel .col4 .header.danger {
        background-color: rgba(166, 33, 33, 0.5); }
    .wallboard.panel .col .data, .wallboard.panel .col1 .data, .wallboard.panel .col2 .data, .wallboard.panel .col3 .data, .wallboard.panel .col4 .data {
      background-color: rgba(123, 178, 229, 0.5); }
      @media (max-width: 767px) {
        .wallboard.panel .col .data, .wallboard.panel .col1 .data, .wallboard.panel .col2 .data, .wallboard.panel .col3 .data, .wallboard.panel .col4 .data {
          font-size: 24px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .wallboard.panel .col .data, .wallboard.panel .col1 .data, .wallboard.panel .col2 .data, .wallboard.panel .col3 .data, .wallboard.panel .col4 .data {
          font-size: 32px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .wallboard.panel .col .data, .wallboard.panel .col1 .data, .wallboard.panel .col2 .data, .wallboard.panel .col3 .data, .wallboard.panel .col4 .data {
          font-size: 44px; } }
      @media (min-width: 1200px) {
        .wallboard.panel .col .data, .wallboard.panel .col1 .data, .wallboard.panel .col2 .data, .wallboard.panel .col3 .data, .wallboard.panel .col4 .data {
          font-size: 56px; } }
      .wallboard.panel .col .data.green, .wallboard.panel .col1 .data.green, .wallboard.panel .col2 .data.green, .wallboard.panel .col3 .data.green, .wallboard.panel .col4 .data.green, .wallboard.panel .col .data.success, .wallboard.panel .col1 .data.success, .wallboard.panel .col2 .data.success, .wallboard.panel .col3 .data.success, .wallboard.panel .col4 .data.success {
        background-color: rgba(123, 229, 179, 0.5); }
      .wallboard.panel .col .data.yellow, .wallboard.panel .col1 .data.yellow, .wallboard.panel .col2 .data.yellow, .wallboard.panel .col3 .data.yellow, .wallboard.panel .col4 .data.yellow, .wallboard.panel .col .data.warning, .wallboard.panel .col1 .data.warning, .wallboard.panel .col2 .data.warning, .wallboard.panel .col3 .data.warning, .wallboard.panel .col4 .data.warning {
        background-color: rgba(222, 229, 123, 0.5); }
      .wallboard.panel .col .data.red, .wallboard.panel .col1 .data.red, .wallboard.panel .col2 .data.red, .wallboard.panel .col3 .data.red, .wallboard.panel .col4 .data.red, .wallboard.panel .col .data.danger, .wallboard.panel .col1 .data.danger, .wallboard.panel .col2 .data.danger, .wallboard.panel .col3 .data.danger, .wallboard.panel .col4 .data.danger {
        background-color: rgba(229, 123, 123, 0.5); }
    .wallboard.panel .col .full, .wallboard.panel .col1 .full, .wallboard.panel .col2 .full, .wallboard.panel .col3 .full, .wallboard.panel .col4 .full {
      height: 100%;
      background-color: rgba(33, 102, 166, 0.5);
      white-space: normal;
      overflow: visible;
      text-overflow: ellipsis; }
    .wallboard.panel .col .main-header, .wallboard.panel .col1 .main-header, .wallboard.panel .col2 .main-header, .wallboard.panel .col3 .main-header, .wallboard.panel .col4 .main-header {
      font-size: 56px; }
  .wallboard.panel .col1 {
    width: 99%; }
  .wallboard.panel .col2 {
    width: 50%; }
    .wallboard.panel .col2:last-child {
      width: 49%; }
  .wallboard.panel .col3 {
    width: 33%; }
  .wallboard.panel .col4 {
    width: 25%; }
    .wallboard.panel .col4:last-child {
      width: 24%; }
  @media (max-width: 320px) {
    .wallboard.panel [class*="col"] {
      width: 100%; } }

.blue, .info {
  background-color: rgba(33, 102, 166, 0.5); }

.green, .success {
  background-color: rgba(33, 166, 104, 0.5); }

.yellow, .warning {
  background-color: rgba(157, 166, 33, 0.5); }

.red, .danger {
  background-color: rgba(166, 33, 33, 0.5); }

.wbQueueList .row div {
  padding: 5px;
  text-align: center;
  font-size: 28px;
  vertical-align: middle; }
.wbQueueList table th, .wbQueueList table td {
  padding: 5px;
  text-align: center;
  font-size: 28px;
  vertical-align: middle; }
.wbQueueList table tbody tr {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
